header {
  background-color: #ff6f00;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 40px;
  margin-right: 15px;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

header span {
  font-size: 1em;
  font-weight: bold;
}
