body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #ff6600;
  color: white;
  padding: 10px;
  display: flex;              /* activa flexbox */
  align-items: center;        /* centra verticalmente */
  justify-content: center;    /* centra el título */
  position: relative;         /* referencia para el logo */
}

.logo {
  position: absolute;         /* se coloca en la esquina */
  left: 20px;
  top: 10px;
  width: 60px;                /* ajusta tamaño */
  height: auto;
}

#map {
  width: 100%;
  height: 500px;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
header h1 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
header h1 {
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
